TruIO-SystemInfoDemo/TruIO-SystemInfoDemo.json
[{"id":"71233a9.28e88c4","type":"subflow","name":"TruIO API","info":"","category":"","in":[{"x":320,"y":180,"wires":[{"id":"a62d6815.024898"}]}],"out":[{"x":620,"y":180,"wires":[{"id":"a62d6815.024898","port":0}]}],"env":[{"name":"deviceKey","type":"str","value":"","ui":{"icon":"font-awesome/fa-key","label":{"en-US":"Device Key"},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}}],"color":"#DDAA99","status":{"x":620,"y":100,"wires":[{"id":"8a07a68d.580918","port":0}]}},{"id":"a62d6815.024898","type":"function","z":"71233a9.28e88c4","name":"TruIO API payload","func":"\nlet writeKey = env.get('deviceKey');\n\nif (!writeKey) {\n    node.status({fill:\"red\",shape:\"dot\",text:\"Missing Device Key\"})\n    return\n} else {\n    node.status({fill:\"green\",shape:\"dot\",text:\"Device Key available\"})\n}\n\nlet deviceLogObj = {\n    op: 'write',\n    writeKey: writeKey,\n    tag: []\n}\n\nfor (let i in msg.truioTag) {\n    deviceLogObj.tag.push({\n        value: msg.truioTag[i].value,\n        name: msg.truioTag[i].name,\n        time: new Date().getTime()\n    })\n}\n\nmsg.payload = deviceLogObj\nmsg.topic = 'TruIO/device/' + writeKey\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[[]]},{"id":"8a07a68d.580918","type":"status","z":"71233a9.28e88c4","name":"","scope":["a62d6815.024898"],"x":400,"y":100,"wires":[[]]},{"id":"69284eb3.8b015","type":"inject","z":"7255afb5.30f84","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":740,"wires":[["77d0b6b7.b0a138","a1fdbb07.f6e628","8db9234d.8b45f","a8f929bb.37be88","8ac8f273.c8484","ef6537f6.c6d178"]]},{"id":"a33b5404.daa358","type":"function","z":"7255afb5.30f84","name":"","func":"msg.payload = msg.payload.freemem/1e6;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":480,"wires":[["d523670f.7b4728"]]},{"id":"7ab90b61.da30d4","type":"function","z":"7255afb5.30f84","name":"","func":"msg.payload = msg.payload.memusage;\nlet newObject = {\n    name: \"ramUsage\",\n    value: msg.payload\n}\nmsg.truioTag = newObject\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":440,"wires":[["79a7867a.c7e118","311c6dd1.5008a2"]]},{"id":"3657a7e0.74d118","type":"function","z":"7255afb5.30f84","name":"","func":"msg.payload = msg.payload.totalmem/1e6;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":520,"wires":[["255bcdbf.3eef02"]]},{"id":"9f262fa7.f2249","type":"function","z":"7255afb5.30f84","name":"","func":"msg.payload = msg.payload.type;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":840,"wires":[["cde8007b.53bd8"]]},{"id":"407091d2.c229d","type":"function","z":"7255afb5.30f84","name":"","func":"msg.payload = msg.payload.arch;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":880,"wires":[["1d06440c.7d580c"]]},{"id":"d2b7981b.efdc08","type":"function","z":"7255afb5.30f84","name":"","func":"msg.payload = msg.payload.release;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":920,"wires":[["78a4d951.1d45c8"]]},{"id":"f5b4d0ce.f16bd","type":"function","z":"7255afb5.30f84","name":"","func":"var upstr = {};\nupstr.payload = secondsToDhms(msg.payload.uptime);\n\nfunction secondsToDhms(seconds) {\nseconds = Number(seconds);\nvar d = Math.floor(seconds / (3600*24));\nvar h = Math.floor(seconds % (3600*24) / 3600);\nvar m = Math.floor(seconds % 3600 / 60);\nvar s = Math.floor(seconds % 60);\n\nvar dDisplay = d > 0 ? d + (d == 1 ? \" day, \" : \" days, \") : \"\";\nvar hDisplay = h > 0 ? h + (h == 1 ? \" hour, \" : \" hours, \") : \"\";\nvar mDisplay = m > 0 ? m + (m == 1 ? \" minute, \" : \" minutes, \") : \"\";\nvar sDisplay = s > 0 ? s + (s == 1 ? \" second\" : \" seconds\") : \"\";\nreturn dDisplay + hDisplay + mDisplay + sDisplay;\n}\n\nreturn upstr;","outputs":1,"noerr":0,"x":530,"y":560,"wires":[["88148bdb.e43408"]]},{"id":"613e428d.18f57c","type":"function","z":"7255afb5.30f84","name":"","func":"msg.payload = msg.payload.cpus[0].model;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":600,"wires":[["877f56f0.1778d8"]]},{"id":"9e995e14.8872b","type":"function","z":"7255afb5.30f84","name":"","func":"msg.payload = msg.payload.cpus[0].speed;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":640,"wires":[["141801d.5373efe"]]},{"id":"d698cc52.a8c5a","type":"function","z":"7255afb5.30f84","name":"","func":"msg.payload = msg.payload[2].filesystem;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1020,"wires":[["baf93879.d461e8"]]},{"id":"4ac9da06.460f04","type":"function","z":"7255afb5.30f84","name":"","func":"msg.payload = msg.payload[2].size/1e3;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1060,"wires":[["81a35074.b5c87"]]},{"id":"10887b1a.a1be65","type":"function","z":"7255afb5.30f84","name":"","func":"msg.payload = msg.payload[2].used/1e3;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1100,"wires":[["da1767c2.c00d18"]]},{"id":"6e114269.338b5c","type":"function","z":"7255afb5.30f84","name":"","func":"msg.payload = msg.payload[2].available/1e3;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1140,"wires":[["9e90078a.a9ab98"]]},{"id":"1b980aca.e681c5","type":"function","z":"7255afb5.30f84","name":"","func":"msg.payload = msg.payload[2].capacity*100;\n\nlet newObject = {\n    name: \"hddUsage\",\n    value: msg.payload\n}\nmsg.truioTag = newObject\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":980,"wires":[["de31e0db.55c05","311c6dd1.5008a2"]]},{"id":"a8f929bb.37be88","type":"OS","z":"7255afb5.30f84","name":"","x":410,"y":880,"wires":[["9f262fa7.f2249","407091d2.c229d","d2b7981b.efdc08"]]},{"id":"8ac8f273.c8484","type":"Drives","z":"7255afb5.30f84","name":"","x":390,"y":1060,"wires":[["d698cc52.a8c5a","4ac9da06.460f04","10887b1a.a1be65","6e114269.338b5c","1b980aca.e681c5"]]},{"id":"a1fdbb07.f6e628","type":"Uptime","z":"7255afb5.30f84","name":"","x":400,"y":560,"wires":[["f5b4d0ce.f16bd"]]},{"id":"8db9234d.8b45f","type":"CPUs","z":"7255afb5.30f84","name":"","x":390,"y":600,"wires":[["613e428d.18f57c","9e995e14.8872b"]]},{"id":"77d0b6b7.b0a138","type":"Memory","z":"7255afb5.30f84","name":"","x":400,"y":480,"wires":[["a33b5404.daa358","7ab90b61.da30d4","3657a7e0.74d118"]]},{"id":"255bcdbf.3eef02","type":"ui_text","z":"7255afb5.30f84","group":"8b050e67.0beb8","order":3,"width":"3","height":"2","name":"","label":"Total Memory","format":"{{msg.payload | number: 0}} MB","layout":"col-center","x":700,"y":520,"wires":[]},{"id":"d523670f.7b4728","type":"ui_text","z":"7255afb5.30f84","group":"8b050e67.0beb8","order":2,"width":"3","height":"2","name":"","label":"Free Memory","format":"{{msg.payload | number: 0}} MB","layout":"col-center","x":690,"y":480,"wires":[]},{"id":"cde8007b.53bd8","type":"ui_text","z":"7255afb5.30f84","group":"8bb358f1.28bf78","order":1,"width":0,"height":0,"name":"","label":"Platform","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":840,"wires":[]},{"id":"1d06440c.7d580c","type":"ui_text","z":"7255afb5.30f84","group":"8bb358f1.28bf78","order":2,"width":0,"height":0,"name":"","label":"Architecture","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":880,"wires":[]},{"id":"78a4d951.1d45c8","type":"ui_text","z":"7255afb5.30f84","group":"8bb358f1.28bf78","order":3,"width":0,"height":0,"name":"","label":"Kernel","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":920,"wires":[]},{"id":"88148bdb.e43408","type":"ui_text","z":"7255afb5.30f84","group":"8bb358f1.28bf78","order":4,"width":0,"height":0,"name":"","label":"Uptime","format":"{{msg.payload}}","layout":"col-center","x":680,"y":560,"wires":[]},{"id":"877f56f0.1778d8","type":"ui_text","z":"7255afb5.30f84","group":"9546c72c.4bdcb8","order":2,"width":0,"height":0,"name":"","label":"Model","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":600,"wires":[]},{"id":"141801d.5373efe","type":"ui_text","z":"7255afb5.30f84","group":"9546c72c.4bdcb8","order":3,"width":0,"height":0,"name":"","label":"Speed","format":"{{msg.payload}} MHz","layout":"row-spread","x":670,"y":640,"wires":[]},{"id":"baf93879.d461e8","type":"ui_text","z":"7255afb5.30f84","group":"e3e581fa.3c3d7","order":1,"width":0,"height":0,"name":"","label":"Filesystem","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":1020,"wires":[]},{"id":"81a35074.b5c87","type":"ui_text","z":"7255afb5.30f84","group":"e3e581fa.3c3d7","order":2,"width":0,"height":0,"name":"","label":"Size","format":"{{msg.payload | number: 2}} MB","layout":"row-spread","x":670,"y":1060,"wires":[]},{"id":"da1767c2.c00d18","type":"ui_text","z":"7255afb5.30f84","group":"e3e581fa.3c3d7","order":3,"width":0,"height":0,"name":"","label":"Used","format":"{{msg.payload | number: 2}} MB","layout":"row-spread","x":670,"y":1100,"wires":[]},{"id":"9e90078a.a9ab98","type":"ui_text","z":"7255afb5.30f84","group":"e3e581fa.3c3d7","order":4,"width":0,"height":0,"name":"","label":"Available","format":"{{msg.payload | number: 2}} MB","layout":"row-spread","x":680,"y":1140,"wires":[]},{"id":"79a7867a.c7e118","type":"ui_gauge","z":"7255afb5.30f84","name":"","group":"8b050e67.0beb8","order":1,"width":"6","height":"3","gtype":"gage","title":"Usage","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":440,"wires":[]},{"id":"ca0fc65a.a65888","type":"ui_gauge","z":"7255afb5.30f84","name":"","group":"9546c72c.4bdcb8","order":1,"width":"6","height":"3","gtype":"gage","title":"Usage","label":"%","format":"{{value | number: 2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":680,"wires":[]},{"id":"de31e0db.55c05","type":"ui_gauge","z":"7255afb5.30f84","name":"","group":"e3e581fa.3c3d7","order":1,"width":"6","height":"3","gtype":"gage","title":"Usage","label":"%","format":"{{value | number: 2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":980,"wires":[]},{"id":"ef6537f6.c6d178","type":"cpu","z":"7255afb5.30f84","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":510,"y":680,"wires":[["ca0fc65a.a65888","7996eefd.ecb28"]]},{"id":"311c6dd1.5008a2","type":"join","z":"7255afb5.30f84","name":"","mode":"custom","build":"array","property":"truioTag","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":830,"y":740,"wires":[["6c1191b9.6825"]]},{"id":"7996eefd.ecb28","type":"function","z":"7255afb5.30f84","name":"","func":"let newObject = {\n    name: \"cpuUsage\",\n    value: msg.payload\n}\nmsg.truioTag = newObject\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":740,"wires":[["311c6dd1.5008a2"]]},{"id":"ad9578db.20c758","type":"mqtt out","z":"7255afb5.30f84","name":"mqtt.truio.live","topic":"","qos":"0","retain":"false","broker":"1511b507.09672b","x":1150,"y":740,"wires":[]},{"id":"6c1191b9.6825","type":"subflow:71233a9.28e88c4","z":"7255afb5.30f84","name":"","env":[{"name":"email","value":"truio.automation@gmail.com","type":"str"}],"x":980,"y":740,"wires":[["ad9578db.20c758"]]},{"id":"8b050e67.0beb8","type":"ui_group","z":"","name":"Memory","tab":"f8e1e31c.8c5b6","order":3,"disp":true,"width":"6","collapse":false},{"id":"8bb358f1.28bf78","type":"ui_group","z":"","name":"OS","tab":"f8e1e31c.8c5b6","order":1,"disp":true,"width":"6","collapse":false},{"id":"9546c72c.4bdcb8","type":"ui_group","z":"","name":"CPU","tab":"f8e1e31c.8c5b6","order":2,"disp":true,"width":"6","collapse":false},{"id":"e3e581fa.3c3d7","type":"ui_group","z":"","name":"Storage","tab":"f8e1e31c.8c5b6","order":4,"disp":true,"width":"6","collapse":false},{"id":"1511b507.09672b","type":"mqtt-broker","z":"","name":"mqtt.truio.live","broker":"mqtt.truio.live","port":"1883","tls":"b49fc4d3.f90db8","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f8e1e31c.8c5b6","type":"ui_tab","z":"78a547f6.b90a18","name":"System","icon":"fa-microchip","order":4,"disabled":false,"hidden":false},{"id":"b49fc4d3.f90db8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]