TruIO-SystemInfoDemo/TruIO-SystemInfoDemo.json
[{"id":"71233a9.28e88c4","type":"subflow","name":"TruIO API","info":"","category":"","in":[{"x":320,"y":180,"wires":[{"id":"a62d6815.024898"}]}],"out":[{"x":620,"y":180,"wires":[{"id":"a62d6815.024898","port":0}]}],"env":[{"name":"deviceKey","type":"str","value":"","ui":{"icon":"font-awesome/fa-key","label":{"en-US":"Device Key"},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}}],"color":"#DDAA99","status":{"x":620,"y":100,"wires":[{"id":"8a07a68d.580918","port":0}]}},{"id":"a62d6815.024898","type":"function","z":"71233a9.28e88c4","name":"TruIO API payload","func":"\nlet writeKey = env.get('deviceKey');\n\nif (!writeKey) {\n    node.status({fill:\"red\",shape:\"dot\",text:\"Missing Device Key\"})\n    return\n} else {\n    node.status({fill:\"green\",shape:\"dot\",text:\"Device Key available\"})\n}\n\nlet deviceLogObj = {\n    op: 'write',\n    writeKey: writeKey,\n    tag: []\n}\n\nfor (let i in msg.truioTag) {\n    deviceLogObj.tag.push({\n        value: msg.truioTag[i].value,\n        name: msg.truioTag[i].name,\n        time: new Date().getTime()\n    })\n}\n\nmsg.payload = deviceLogObj\nmsg.topic = 'TruIO/device/' + writeKey\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[[]]},{"id":"8a07a68d.580918","type":"status","z":"71233a9.28e88c4","name":"","scope":["a62d6815.024898"],"x":400,"y":100,"wires":[[]]},{"id":"5ea159d.1629da8","type":"inject","z":"4a988eca.a6087","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":400,"wires":[["424546f5.8d8e58","9aac789b.91e298","a28ecb84.0cf018","2ecf6953.b71076","f9f53de7.949f4","fc9a61ff.715cf"]]},{"id":"2a84d97e.30ea36","type":"function","z":"4a988eca.a6087","name":"","func":"msg.payload = msg.payload.freemem/1e6;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["9f46c544.4f8668"]]},{"id":"bdc6a925.931e48","type":"function","z":"4a988eca.a6087","name":"","func":"msg.payload = msg.payload.memusage;\nlet newObject = {\n    name: \"ramUsage\",\n    value: msg.payload\n}\nmsg.truioTag = newObject\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["29cc2fbf.cecb5","4404d96b.f509c8"]]},{"id":"da1e5e9a.deac3","type":"function","z":"4a988eca.a6087","name":"","func":"msg.payload = msg.payload.totalmem/1e6;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":180,"wires":[["1f3d0400.cec0ec"]]},{"id":"87c6c1c0.b4448","type":"function","z":"4a988eca.a6087","name":"","func":"msg.payload = msg.payload.type;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":500,"wires":[["c7ff430c.7f6ed"]]},{"id":"1b0dac8e.8f2c83","type":"function","z":"4a988eca.a6087","name":"","func":"msg.payload = msg.payload.arch;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":540,"wires":[["e0909b70.71d208"]]},{"id":"443145b2.b09bec","type":"function","z":"4a988eca.a6087","name":"","func":"msg.payload = msg.payload.release;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":580,"wires":[["3e3a6233.6d191e"]]},{"id":"f95f794c.ce2078","type":"function","z":"4a988eca.a6087","name":"","func":"var upstr = {};\nupstr.payload = secondsToDhms(msg.payload.uptime);\n\nfunction secondsToDhms(seconds) {\nseconds = Number(seconds);\nvar d = Math.floor(seconds / (3600*24));\nvar h = Math.floor(seconds % (3600*24) / 3600);\nvar m = Math.floor(seconds % 3600 / 60);\nvar s = Math.floor(seconds % 60);\n\nvar dDisplay = d > 0 ? d + (d == 1 ? \" day, \" : \" days, \") : \"\";\nvar hDisplay = h > 0 ? h + (h == 1 ? \" hour, \" : \" hours, \") : \"\";\nvar mDisplay = m > 0 ? m + (m == 1 ? \" minute, \" : \" minutes, \") : \"\";\nvar sDisplay = s > 0 ? s + (s == 1 ? \" second\" : \" seconds\") : \"\";\nreturn dDisplay + hDisplay + mDisplay + sDisplay;\n}\n\nreturn upstr;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["bfdd84c3.2e4828"]]},{"id":"29410929.3595a6","type":"function","z":"4a988eca.a6087","name":"","func":"msg.payload = msg.payload.cpus[0].model;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["da0f66b7.f771c8"]]},{"id":"1b3cf597.2a9eea","type":"function","z":"4a988eca.a6087","name":"","func":"msg.payload = msg.payload.cpus[0].speed;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["21f1c489.24367c"]]},{"id":"39115c17.a061c4","type":"function","z":"4a988eca.a6087","name":"","func":"msg.payload = msg.payload[2].filesystem;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":680,"wires":[["1b2e41c2.860dce"]]},{"id":"9c6be17c.f047e","type":"function","z":"4a988eca.a6087","name":"","func":"msg.payload = msg.payload[2].size/1e3;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":720,"wires":[["3f7cd20c.07177e"]]},{"id":"778d8fa6.77331","type":"function","z":"4a988eca.a6087","name":"","func":"msg.payload = msg.payload[2].used/1e3;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":760,"wires":[["6c963492.1cd4bc"]]},{"id":"a340de91.aa4a6","type":"function","z":"4a988eca.a6087","name":"","func":"msg.payload = msg.payload[2].available/1e3;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":800,"wires":[["9a262b93.ffa398"]]},{"id":"24fd1be1.3b4414","type":"function","z":"4a988eca.a6087","name":"","func":"msg.payload = msg.payload[2].capacity*100;\n\nlet newObject = {\n    name: \"hddUsage\",\n    value: msg.payload\n}\nmsg.truioTag = newObject\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":640,"wires":[["77035856.4a31b8","4404d96b.f509c8"]]},{"id":"2ecf6953.b71076","type":"OS","z":"4a988eca.a6087","name":"","x":490,"y":540,"wires":[["87c6c1c0.b4448","1b0dac8e.8f2c83","443145b2.b09bec"]]},{"id":"f9f53de7.949f4","type":"Drives","z":"4a988eca.a6087","name":"","x":470,"y":720,"wires":[["39115c17.a061c4","9c6be17c.f047e","778d8fa6.77331","a340de91.aa4a6","24fd1be1.3b4414"]]},{"id":"9aac789b.91e298","type":"Uptime","z":"4a988eca.a6087","name":"","x":480,"y":220,"wires":[["f95f794c.ce2078"]]},{"id":"a28ecb84.0cf018","type":"CPUs","z":"4a988eca.a6087","name":"","x":470,"y":260,"wires":[["29410929.3595a6","1b3cf597.2a9eea"]]},{"id":"424546f5.8d8e58","type":"Memory","z":"4a988eca.a6087","name":"","x":480,"y":140,"wires":[["2a84d97e.30ea36","bdc6a925.931e48","da1e5e9a.deac3"]]},{"id":"1f3d0400.cec0ec","type":"ui_text","z":"4a988eca.a6087","group":"8b050e67.0beb8","order":3,"width":"3","height":"2","name":"","label":"Total Memory","format":"{{msg.payload | number: 0}} MB","layout":"col-center","x":780,"y":180,"wires":[]},{"id":"9f46c544.4f8668","type":"ui_text","z":"4a988eca.a6087","group":"8b050e67.0beb8","order":2,"width":"3","height":"2","name":"","label":"Free Memory","format":"{{msg.payload | number: 0}} MB","layout":"col-center","x":770,"y":140,"wires":[]},{"id":"c7ff430c.7f6ed","type":"ui_text","z":"4a988eca.a6087","group":"8bb358f1.28bf78","order":1,"width":0,"height":0,"name":"","label":"Platform","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":500,"wires":[]},{"id":"e0909b70.71d208","type":"ui_text","z":"4a988eca.a6087","group":"8bb358f1.28bf78","order":2,"width":0,"height":0,"name":"","label":"Architecture","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":540,"wires":[]},{"id":"3e3a6233.6d191e","type":"ui_text","z":"4a988eca.a6087","group":"8bb358f1.28bf78","order":3,"width":0,"height":0,"name":"","label":"Kernel","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":580,"wires":[]},{"id":"bfdd84c3.2e4828","type":"ui_text","z":"4a988eca.a6087","group":"8bb358f1.28bf78","order":4,"width":0,"height":0,"name":"","label":"Uptime","format":"{{msg.payload}}","layout":"col-center","x":760,"y":220,"wires":[]},{"id":"da0f66b7.f771c8","type":"ui_text","z":"4a988eca.a6087","group":"9546c72c.4bdcb8","order":2,"width":0,"height":0,"name":"","label":"Model","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":260,"wires":[]},{"id":"21f1c489.24367c","type":"ui_text","z":"4a988eca.a6087","group":"9546c72c.4bdcb8","order":3,"width":0,"height":0,"name":"","label":"Speed","format":"{{msg.payload}} MHz","layout":"row-spread","x":750,"y":300,"wires":[]},{"id":"1b2e41c2.860dce","type":"ui_text","z":"4a988eca.a6087","group":"e3e581fa.3c3d7","order":1,"width":0,"height":0,"name":"","label":"Filesystem","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":680,"wires":[]},{"id":"3f7cd20c.07177e","type":"ui_text","z":"4a988eca.a6087","group":"e3e581fa.3c3d7","order":2,"width":0,"height":0,"name":"","label":"Size","format":"{{msg.payload | number: 2}} MB","layout":"row-spread","x":750,"y":720,"wires":[]},{"id":"6c963492.1cd4bc","type":"ui_text","z":"4a988eca.a6087","group":"e3e581fa.3c3d7","order":3,"width":0,"height":0,"name":"","label":"Used","format":"{{msg.payload | number: 2}} MB","layout":"row-spread","x":750,"y":760,"wires":[]},{"id":"9a262b93.ffa398","type":"ui_text","z":"4a988eca.a6087","group":"e3e581fa.3c3d7","order":4,"width":0,"height":0,"name":"","label":"Available","format":"{{msg.payload | number: 2}} MB","layout":"row-spread","x":760,"y":800,"wires":[]},{"id":"29cc2fbf.cecb5","type":"ui_gauge","z":"4a988eca.a6087","name":"","group":"8b050e67.0beb8","order":1,"width":"6","height":"3","gtype":"gage","title":"Usage","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":100,"wires":[]},{"id":"742fc390.170cec","type":"ui_gauge","z":"4a988eca.a6087","name":"","group":"9546c72c.4bdcb8","order":1,"width":"6","height":"3","gtype":"gage","title":"Usage","label":"%","format":"{{value | number: 2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":340,"wires":[]},{"id":"77035856.4a31b8","type":"ui_gauge","z":"4a988eca.a6087","name":"","group":"e3e581fa.3c3d7","order":1,"width":"6","height":"3","gtype":"gage","title":"Usage","label":"%","format":"{{value | number: 2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":640,"wires":[]},{"id":"fc9a61ff.715cf","type":"cpu","z":"4a988eca.a6087","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":590,"y":340,"wires":[["742fc390.170cec","2efda0d0.c736d"]]},{"id":"d02470e.297459","type":"mqtt out","z":"4a988eca.a6087","name":"mqtt.truio.space","topic":"","qos":"0","retain":"false","broker":"","x":1260,"y":400,"wires":[]},{"id":"4404d96b.f509c8","type":"join","z":"4a988eca.a6087","name":"","mode":"custom","build":"array","property":"truioTag","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":910,"y":400,"wires":[["ce00deea.7284c"]]},{"id":"2efda0d0.c736d","type":"function","z":"4a988eca.a6087","name":"","func":"let newObject = {\n    name: \"cpuUsage\",\n    value: msg.payload\n}\nmsg.truioTag = newObject\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":400,"wires":[["4404d96b.f509c8"]]},{"id":"ce00deea.7284c","type":"subflow:71233a9.28e88c4","z":"4a988eca.a6087","name":"","env":[],"x":1080,"y":400,"wires":[["d02470e.297459"]]},{"id":"8b050e67.0beb8","type":"ui_group","z":"","name":"Memory","tab":"f8e1e31c.8c5b6","order":3,"disp":true,"width":"6","collapse":false},{"id":"8bb358f1.28bf78","type":"ui_group","z":"","name":"OS","tab":"f8e1e31c.8c5b6","order":1,"disp":true,"width":"6","collapse":false},{"id":"9546c72c.4bdcb8","type":"ui_group","z":"","name":"CPU","tab":"f8e1e31c.8c5b6","order":2,"disp":true,"width":"6","collapse":false},{"id":"e3e581fa.3c3d7","type":"ui_group","z":"","name":"Storage","tab":"f8e1e31c.8c5b6","order":4,"disp":true,"width":"6","collapse":false},{"id":"f8e1e31c.8c5b6","type":"ui_tab","z":"78a547f6.b90a18","name":"System","icon":"fa-microchip","order":4,"disabled":false,"hidden":false}]