TruIO-OpenWeatherMapDemo/TruIO-OpenWeatherMapDemo.json
[{"id":"71233a9.28e88c4","type":"subflow","name":"TruIO API","info":"","category":"","in":[{"x":320,"y":180,"wires":[{"id":"a62d6815.024898"}]}],"out":[{"x":620,"y":180,"wires":[{"id":"a62d6815.024898","port":0}]}],"env":[{"name":"deviceKey","type":"str","value":"","ui":{"icon":"font-awesome/fa-key","label":{"en-US":"Device Key"},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}}],"color":"#DDAA99","status":{"x":620,"y":100,"wires":[{"id":"8a07a68d.580918","port":0}]}},{"id":"a62d6815.024898","type":"function","z":"71233a9.28e88c4","name":"TruIO API payload","func":"\nlet writeKey = env.get('deviceKey');\n\nif (!writeKey) {\n    node.status({fill:\"red\",shape:\"dot\",text:\"Missing Device Key\"})\n    return\n} else {\n    node.status({fill:\"green\",shape:\"dot\",text:\"Device Key available\"})\n}\n\nlet deviceLogObj = {\n    op: 'write',\n    writeKey: writeKey,\n    tag: []\n}\n\nfor (let i in msg.truioTag) {\n    deviceLogObj.tag.push({\n        value: msg.truioTag[i].value,\n        name: msg.truioTag[i].name,\n        time: new Date().getTime()\n    })\n}\n\nmsg.payload = deviceLogObj\nmsg.topic = 'TruIO/device/' + writeKey\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[[]]},{"id":"8a07a68d.580918","type":"status","z":"71233a9.28e88c4","name":"","scope":["a62d6815.024898"],"x":400,"y":100,"wires":[[]]},{"id":"db94f865.2cc298","type":"http request","z":"7255afb5.30f84","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.openweathermap.org/data/2.5/weather?q=Kuala Lumpur&units=metric&appid=e892a75df9a73871885faf832b976dec","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":180,"wires":[["cea450ce.fc034"]]},{"id":"cea450ce.fc034","type":"json","z":"7255afb5.30f84","name":"","property":"payload","action":"","pretty":false,"x":590,"y":180,"wires":[["44b31413.b210cc"]]},{"id":"1f185015.32cbd","type":"mqtt out","z":"7255afb5.30f84","name":"mqtt.truio.live","topic":"","qos":"0","retain":"false","broker":"1511b507.09672b","x":1190,"y":180,"wires":[]},{"id":"52d00307.8605fc","type":"inject","z":"7255afb5.30f84","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"2","x":250,"y":180,"wires":[["db94f865.2cc298"]]},{"id":"44b31413.b210cc","type":"function","z":"7255afb5.30f84","name":"Encode the weather payload","func":"let newObject = [\n    {\n        name: \"temp\",\n        value: msg.payload.main.temp\n    },\n    {\n        name: \"pressure\",\n        value: msg.payload.main.pressure\n    },\n    {\n        name: \"humidity\",\n        value: msg.payload.main.humidity\n    },\n    // for free account you are limited to 3 tags, uncomment below if you are on premium account\n    /*{\n        name: \"temp_min\",\n        value: msg.payload.main.temp_min\n    },\n    {\n        name: \"temp_max\",\n        value: msg.payload.main.temp_max\n    },\n    {\n        name: \"windSpeed\",\n        value: msg.payload.wind.speed\n    },\n    {\n        name: \"windDeg\",\n        value: msg.payload.wind.deg\n    },\n    {\n        name: \"visibility\",\n        value: msg.payload.visibility\n    },\n    {\n        name: \"clouds\",\n        value: msg.payload.clouds.all\n    },\n    {\n        name: \"weather\",\n        value: msg.payload.weather[0].description\n    },\n    {\n        name: \"coordinate\",\n        value: [msg.payload.coord.lat, msg.payload.coord.lon]\n    }*/\n]\nmsg.truioTag = newObject\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":180,"wires":[["a6333960.fa1768"]]},{"id":"a6333960.fa1768","type":"subflow:71233a9.28e88c4","z":"7255afb5.30f84","name":"","env":[{"name":"email","value":"truio.automation@gmail.com","type":"str"}],"x":1020,"y":180,"wires":[["1f185015.32cbd"]]},{"id":"1511b507.09672b","type":"mqtt-broker","z":"","name":"mqtt.truio.live","broker":"mqtt.truio.live","port":"1883","tls":"b49fc4d3.f90db8","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b49fc4d3.f90db8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]